.jumbotron {
  background-image: url();
  height: 736px;
  background-image: linear-gradient(rgba(51,211,94,0.4),rgba(42, 182, 217,0.4)), url(images/banner-desktop.jpg);
  color: white;
  text-align: center;
}

.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
}

.jumbotron h1,p {
  position: relative;
  top: 170px;
}

.grey-text {
  position: relative;
  top: -10px;
}

.fa-file-code {
  color: #30C88F;
}

.fa-search {
  color: #30C88F;
}

.fa-bullhorn {
  color: #30C88F;
}

.card-deck {
  display: flex;
  justify-content: center;
 
}

.Portfolio {
  text-align: center;
}

.card-text {
  position: relative;
  top: -10px;
}
